@model BilSalg.Models.SalesViewModel

@{
    ViewBag.Title = "CarsForSale";
}

<h2>Cars For Sale</h2>

<div class="sales row">

    @{
        foreach (BilSalg.Models.Sale sale in Model.MySale)
        {
            <div class="sale col-md-3">
                <img class="resize" src="@sale.ImageURL" alt="A picture of the car for sale" />

                <ul>
                    <li>Model: @sale.Variant</li>
                    <li>Year: @sale.Year</li>
                    <li>Engine: @sale.Engine</li>
                    <li>Mileage (kilometers): @sale.Mileage</li>
                    <li>Name: @sale.Name</li>
                    <li>Phone: @sale.Phone</li>
                    <li>Price (in dkk): @sale.Price</li>
                </ul>
            </div>
        }
    }

</div>