@model BilSalg.Models.SalesViewModel

@{
    
    ViewBag.Title = "Your Sales";
}

<h2>@ViewBag.Title</h2>

<div class="sales row">

    @{
        foreach (BilSalg.Models.Sale sale in Model.MySale)
        {
            string editLink = "Edit/" + sale.Id;
            string removeLink = "Remove/" + sale.Id;
            <div class="sale col-md-3">
                <img class="resize" src="@sale.ImageURL" alt="A picture of the car for sale"/>

                <ul>
                    <li>Model: @sale.Variant</li>
                    <li>Year: @sale.Year</li>
                    <li>Engine: @sale.Engine</li>
                    <li>Mileage (kilometers): @sale.Mileage</li>
                    <li>Name: @sale.Name</li>
                    <li>Phone: @sale.Phone</li>
                    <li>Price (in dkk): @sale.Price</li>
                    <li><a href="@editLink">Edit</a>&nbsp;<a href="@removeLink">Remove</a></li>
                </ul>
            </div>
        }
    }

</div>